* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  background: linear-gradient(to bottom, #fed6af 0, transparent 260px);
  background-attachment: fixed;
  height: 100%;
}
.wrapper {
  padding: 5rem;
}
.heading {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 1.5rem;
  color: maroon;
}
.content {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
}
.link:link,
.link:visited {
  color: maroon;
  text-decoration: none;
  border-bottom: dashed;
}
.content__group-image {
  height: 2rem;
  width: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.content__group-link:visited,
.content__group-link:link {
  text-decoration: none;
}
.content__group-link:not(:last-child) {
  margin-right: 20px;
}
.content__group-folder {
  background-image: url('/img/folder.png');
}
.content__group-file {
  background-image: url('/img/file.png');
}
.content__group {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
  border: 2px maroon solid;
  border-radius: 0.4rem;
  align-items: center;
  height: 2rem;
  width: 15rem;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 2rem;
  overflow: hidden;
  transition: all 0.2s linear;
}
.content__group:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.content__group-name {
  text-overflow: ellipsis;
  width: 70%;
  text-align: right;
  color: maroon;
  font-weight: 600;
}
